@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.flash-msg {
    display: block;
    animation: slide 0.3s;

    /* transform: translateX(-10); */
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(50px);
    }
}

html:has(dialog[open]) {
    overflow: hidden;
}

dialog {
    width: 100%;
    height: 100%;
    max-width: 38%;
    max-height: 80%;
    z-index: 100;
    inset: 0;
    /* background-color: rgb(196, 139, 139); */
    display: fixed;
    opacity: 0;
    pointer-event: none;
    margin: auto auto;

    /*
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto 1fr; */
}
dialog[open] {
    opacity: 1;
    pointer-event: auto;
}

dialog > .container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: scroll;
    /* hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

dialog > .container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.container {
    height: 100%;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.2);

    /* backdrop-filter: blur(3px); */
}
